global
#    daemon
    log 127.0.0.1 local2
    maxconn 256

defaults
    mode tcp
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
 
    log global

# Get haproxy-config with etcd
 
{{range $dir := lsdir "/"}}
frontend {{$dir}}-in
    bind {{$binddir := printf "/%s/frontend/bind" $dir}}{{getv $binddir}}
    default_backend {{$default_backenddir := printf "/%s/frontend/default_backend" $dir}}{{getv $default_backenddir}}

backend {{$custdir := printf "/%s/frontend/default_backend" $dir}}{{getv $custdir}}
    {{$custdir := printf "/%s/backend/*" $dir}}{{range gets $custdir}}
    server {{base .Key}}  {{.Value}}{{end}}
{{end}}

